header {
  //margin-top: 50px;

  nav{

    &.MyNavigation {
      overflow: hidden;

      a.icon {
        display: none;
      }
    }

    div {
      margin-left: 125px;
      margin-top: 10px;

      &.navbar-left {
        float: left;


        a img{
          width: 50%;
        }
      }
    }

    ul {
      list-style: none;
      margin-top: 20px;

      &.navbar-right {

        li {
          display: inline-block;
          margin-left: 60px;

          a {
            color: #ffffff;
            text-transform: uppercase;
            font-family: Raleway, sans-serif;
            font-size: 12px;
            font-weight: 600;
            text-decoration: none;


            &:hover {
                border-bottom: 2px solid #fff;
            }
          }
        }
      }
    }
  }
}